pip==22.0.3
bump2version==1.0.1
wheel==0.37.1
watchdog==2.1.6
flake8==4.0.1
tox==3.24.5
coverage==6.3.2
Sphinx==4.4.0
twine==3.8.0
python-dotenv==0.19.2
libtmux==0.10.3
sphinx_rtd_theme==1.0.0
mypy==0.931
rich==11.2.0
pygit2==1.8.0
